@model Domain.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1 style ="color: ghostwhite">Details</h1>

<div>
    <hr />
    @if (Model.Books.Any())
    {
        <h4 style="color: ghostwhite">Books:</h4>
        <ul>
            @foreach (var book in Model.Books)
            {
                <li>@book.Title</li>
            }
        </ul>
    }
    else
    {
        <p>This publisher hasn't published any books yet.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
