<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
    <style>
        .nav-item .nav-link{
            color: ghostwhite;
        }
    </style>
</head>
<body style="background: #669bbc">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #003049">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #fdf0d5" asp-area=" " asp-controller="Books" asp-action="Index">Obozhavam Knigi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <a asp-controller="Books" asp-action="Index">
                            <img src="https://cdn-icons-png.flaticon.com/512/4927/4927923.png" alt="Book image" style="width:70px; height:50px; padding-left:30px" />
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Authors" asp-action="Index">
                                <img src="https://cdn-icons-png.flaticon.com/512/1948/1948164.png" alt="Author image" style="width:70px; height:50px; padding-left:30px" />
                            </a>
                            <a asp-controller="Publishers" asp-action="Index">
                                <img src="https://cdn-icons-png.flaticon.com/512/1661/1661048.png" alt="Publisher image" style="width:70px; height:50px; padding-left:30px" />
                            </a>
                            <a asp-controller="ShoppingCarts" asp-action="Index">
                                <img src="https://cdn-icons-png.flaticon.com/512/3145/3145827.png" alt="ShoppingCart image" style="width:70px; height:50px; padding-left:30px" />
                            </a>
                            <a asp-controller="Partner" asp-action="Index">
                                <img src="https://cdn-icons-png.flaticon.com/512/1322/1322195.png" alt="Partners image" style="width:70px; height:50px; padding-left:30px" />
                            </a>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="justify-content-center">
        <div class="container justify-content-center">
            &copy; 2024 - Book Store App
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
